{% extends 'home/index.html' %}
{% block title %}  درباه ما {% endblock %}
{% block content %}
<!-- about us -->
    <section id="about-us">
        <div class="container">
            <div class="row g-3">
                <div class="col-12">
                    <p class="title">با ما بیشتر آشنا شوید</p>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/1.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/2.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/3.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/4.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/5.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/6.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/7.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/8.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/9.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="about-us-box">
                        <img src="{{url_for('static', filename='images/avatar/2.jpg')}}" class="img-fluid" alt="">
                        <div class="info">
                            <p>
                                <span class="fa fa-user-circle"></span>
                                <span>مصطفی قربانی</span>
                            </p>
                            <p>
                                <span class="fa fa-handshake-o"></span>
                                <span>سرآشپز</span>
                            </p>
                            <p>
                                <a href="#"><span class="fa fa-heart-o"></span></a>
                                <span>10</span>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- end about us -->
{% endblock %}