<!-- footer -->
    <section id="footer">
        <div class="box-avatar">
            <img src="{{url_for('static', filename='images/png/avatar-2.png')}}" alt="">
        </div>
        <div class="box-footer">
            <div class="box-color"></div>

            <video muted autoplay loop>
                <source src="{{url_for('static', filename='video/food.MOV')}}" type="video/mp4">
            </video>

            <div class="box-links d-flex justify-content-center align-content-center">
                <div class="links d-none d-md-block">
                    <p class="text-center">
                        <span class="fa"></span>
                        <span class="title">بیشترین بازدید</span>
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">کباب سلطانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">قهوه ترک</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">برنج ایرانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">موهیتو</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">بستنی سنتی</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="links d-none d-md-block">
                    <p class="text-center">
                        <span class="fa"></span>
                        <span class="title">بیشترین بازدید</span>
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">کباب سلطانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">قهوه ترک</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">برنج ایرانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">موهیتو</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">بستنی سنتی</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="links d-none d-md-block">
                    <p class="text-center">
                        <span class="fa"></span>
                        <span class="title">بیشترین بازدید</span>
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">کباب سلطانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">قهوه ترک</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">برنج ایرانی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">موهیتو</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-circle me-1"></span>
                                <span class="title">بستنی سنتی</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="links contact_us">
                    <p class="text-center">
                        <span class="fa"></span>
                        <span class="title"> ارتباط با ما</span>
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-phone-square me-1"></span>
                                <span class="title"> ۰۳۱−۵۴۷۵۵۶۹۸</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-whatsapp me-1"></span>
                                <span class="title"> ۰۹۳۵۵۷۳۹۳۶۳</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-instagram me-1"></span>
                                <span class="title"> @mosii_ghorbani</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-map-marker me-1"></span>
                                <span class="title">کاشان - خیابان امام</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-calendar-times-o me-1"></span>
                                <span class="title"> هر روزه از ۹ تا ۲۴</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="developer">
                <p>
                    <span>طراحی و توسعه</span>
                    <a href="https://www.mosiweb.ir">MosiWeb</a>
                </p>
            </div>
        </div>
    </section>
    <!-- end footer -->