<section id="images-banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="box-image">
                        <img src="{{url_for('static', filename='images/png/chocolate.png')}}" alt="chocolate">
                        <img src="{{url_for('static', filename='images/png/cupcake.png')}}" alt="cupcake">
                        <img src="{{url_for('static', filename='images/png/drink-lemon.png')}}" alt="drink-lemon">
                        <img src="{{url_for('static', filename='images/png/fish-and-chips.png')}}" alt="fish-and-chips">
                        <img src="{{url_for('static', filename='images/png/hamburger.png')}}" alt="hamburger">
                        <img src="{{url_for('static', filename='images/png/noodles.png')}}" alt="noodles">
                        <img src="{{url_for('static', filename='images/png/ice-cream.png')}}" alt="ice-cream">
                        <img src="{{url_for('static', filename='images/png/pizza.png')}}" alt="pizza">
                        <img src="{{url_for('static', filename='images/png/ramen.png')}}" alt="ramen">
                        <img src="{{url_for('static', filename='images/png/spaghetti.png')}}" alt="spaghetti">
                        <img src="{{url_for('static', filename='images/png/taco.png')}}" alt="taco">
                        <img src="{{url_for('static', filename='images/png/ricee.png')}}" alt="ricee">
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-6 col-md-3">
                    <div class="box-message box-1">
                        <p>
                            <span>فضایی دلنشین</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="box-message box-2">
                        <p>
                            <span> کادری مجرب</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="box-message box-3">
                        <p>
                            <span> موسیقی سنتی</span>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="box-message box-4">
                        <p>
                            <span> میزبانی شایسته</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>